<div class="resume-container">

  <div class="left">
    <div class="profile">
      <div class="avatar"></div>
      <div class="name">
        <h1>Enoch Gao</h1>
        <p>enochgao&#64;qq.com</p>
        <p>China QingDao</p>
      </div>
    </div>

    <h4>专注于前端</h4>
    <hr>
    <p>夫唯不争，故天下莫能与之争</p>


    <!-- Skills -->
    <div class="block">
      <h4>Skills</h4>
      <h2>专业技能</h2>
      <ul class="listSkill">
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          HTML/CSS
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          JS/TS
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          Angular
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          Vue
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
          </div>
          Java
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
          </div>
          MySQL
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          Git
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
            <div class="p270"></div>
          </div>
          Nginx
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
          </div>
          Linux
        </li>
        <li>
          <div class="circle">
            <div class="p90"></div>
            <div class="p180"></div>
          </div>
          Docker
        </li>
      </ul>
    </div>

    <!-- Related Skills -->
    <div class="block">
      <h4>Related Skills</h4>
      <h2>相关技能</h2>
      <ul class="listRelate">
        <li>HTML/CSS/JS/TS
          <div class="bar">
            <div class="value p70"></div>
          </div>
        </li>
        <li>Angular
          <div class="bar">
            <div class="value p80"></div>
          </div>
        </li>
        <li>Vue
          <div class="bar">
            <div class="value p80"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="right">
    <div class="decoration"></div>

    <div class="block">
      <h4>Projects</h4>
      <h2>项目</h2>
      <ul class="listPor">
        <li>
          ng-zorro-antd-extension：
          <a href="https://ng-zorro-antd-extension.netlify.app"
            target="_blank">https://ng-zorro-antd-extension.netlify.app</a>
        </li>
        <li>
          Blog：
          <a href="https://enochgao.netlify.app/" target="_blank">https://enochgao.netlify.app</a>
        </li>
      </ul>
    </div>

    <div class="block">
      <h4>Contact Me</h4>
      <h2>联系我</h2>
      <div class="icons-container">
        <a href="https://github.com/enochgao" target="_blank" title="Github">
          <i class="fab fa-github"></i>
        </a>
        <a rel="noreferrer" title="eaglehaha">
          <i class="fab fa-weixin"></i>
        </a>
      </div>
    </div>

  </div>
</div>
